<!-- Второй раздел-->
<!--<div class="container">-->
<!--  <h1>Angular Component</h1>-->
<!--  <app-post-form-->
<!--    (onAdd)="updatePosts($event)"-->
<!--  ></app-post-form>-->
<!--  <hr>-->
<!--  <div class="post-list">-->
<!--    <app-post-->
<!--      *ngFor="let post of posts"-->
<!--      (onDelete)="deletePost($event)"-->
<!--      [myPost]="post"-->
<!--    >-->
<!--      <div #info>-->
<!--        <small *ngIf="post.text.length > 10; else short">Post is long</small>-->
<!--        <ng-template #short>-->
<!--          <small>Short Post</small>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </app-post>-->
<!--  </div>-->
<!--</div>-->


<!-- Третий раздел Директивы-->

<!--<div class="container">-->
<!--  <h1>Angular Directives</h1>-->

<!--  <p appStyle="red" [dStyles]="{border: '1px solid black', borderRadius: '5px'}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, explicabo.</p>-->

<!--  <button class="btn" (click)="isVisible = !isVisible">Click</button>-->
<!--  <p *appIfnot="!isVisible">Some Text</p>-->
<!--</div>-->

<!--Четвёртый раздел Pipes-->
<!--<div class="container">-->
<!--  <h1>Angular Pipes</h1>-->

<!--  <app-pipes></app-pipes>-->
<!--  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">-->

<!--  <div class="post-list">-->
<!--    <app-post-->
<!--      *ngFor="let post of posts | filter:search "-->
<!--      (onDelete)="deletePost($event)"-->
<!--      [myPost]="post"-->

<!--    >-->
<!--    </app-post>-->
<!--  </div>-->
<!--</div>-->

<!--Пятый раздел сервисы-->

<!--<div class="container">-->
<!--  <h1>Angular service</h1>-->

<!--  <div class="card">-->
<!--    <h2>App Counter: {{appCounterService.counter}}</h2>-->

<!--    <button (click)="appCounterService.increase()">+</button>-->
<!--    <button (click)="appCounterService.decrease()">-</button>-->
<!--  </div>-->
<!--</div>-->

<!-- Шестой раздел формы-->
<!--<div class="container">-->
<!--&lt;!&ndash;  <app-forms></app-forms>&ndash;&gt;-->
<!--  <app-switch [(ngModel)]="appState"></app-switch>-->
<!--</div>-->

<!--Седьмлй раздел: Взаимодействие с Backend-->

<!--<div class="container">-->
<!--  <app-backconnection></app-backconnection>-->
<!--</div>-->


<!--Раздел восьмой роутинг-->
<div class="container">
  <app-routing></app-routing>
</div>
